@import 'typography.scss';
@import 'fontawesome-all.css';

$main-color: rgb(234, 69, 143);
$secondary-color: rgb(99, 49, 138);

.logo {
	background-color: $main-color;
	// width: 10%;
	// margin-left: 2em;
	// padding: 1em;
	border-radius: 4em;
}

// .header-nav {

// }

.announcement {
	background-color: $main-color;
}

.welcome-header {
	color: $main-color;
}

.read-more {
	background-color: $main-color;
	border-radius: 1em;
}


.news-section {
	background-color: rgb(241,127,56);

}

.welcome-image {
	// display: block;
	// position: relative;

}

.welcome-link {
	display: block;
	position: relative;
}

.welcome-image-caption {
	top: 0;
	right: 0;
	color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.news-item {
	background-color: white;
}

.bottom-footer {
	background-color: rgb(77, 78, 78);
}

.twitter-carousel {
	background-color: $main-color;
}

// .carousel-indicators {
// 	color: black;
// }

// .test {
// 	background-color: grey;
// }


