@import 'typography.scss';
@import 'fontawesome-all.css';

$main-color: rgb(234, 69, 143);
$secondary-color: rgb(99, 49, 138);

.logo {
	background-color: $main-color;
	// width: 10%;
	// margin-left: 2em;
	// padding: 1em;
	border-radius: 4em;
}

// .header-nav {

// }



.welcome-header {
	color: $main-color;
}

.read-more {
	background-color: $main-color;
	border-radius: 1em;
	margin-top: 2em;
}


.news-section {
	background-color: rgb(241,127,56);
	padding-bottom: 8em;
	margin-bottom: 4em;
	padding-top: 1em;

}

.welcome-image {
	// display: block;
	// position: relative;

}

.welcome-link {
	display: block;
	position: relative;
}

.welcome-image-caption {
	top: 0;
	right: 0;
	color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.news-item {
	background-color: white;
	padding: 1em;
}

.bottom-footer {
	background-color: rgb(77, 78, 78);
	padding-bottom: 4em;
	position: relative;
	padding-top: 5em;
}

.twitter-carousel {
	background-color: $main-color;
	padding-top: 3em;
	padding-bottom: 4em;
	margin-bottom: 1em;
	display: flex;
}

// .carousel-indicators {
// 	color: black;
// }

// .test {
// 	background-color: grey;
// }

// .welcome-text {
// 	margin-top: 2em;
// }

.welcome-section {
	margin-top: 8em;
	margin-bottom: 8em;
}

.welcome-header {
	margin-bottom: 1em;
}

.welcome-sub-header {
	margin-bottom: 2em;
}

.icon-background {
	color: $main-color;
	// color: rgb(0, 0, 0);
}

.fa-stack{
	color: white;
}

.fa-search{
	color: $main-color;
}

.header-nav{
	margin-top: 4em;
}

.menu-item{
	padding: 0.4em;
}

.main-image-container {
	position: relative;
}

.announcement {
	background-color: rgba(234, 69, 143, 0.5);
	// opacity: 0.5;
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 1em;
	width: calc(100% - 2em);
	height: 4em;
	// z-index: +1;
}

.twitter-carousel .icon-background {
	color: rgb(238, 125, 165);
}

.follow-us {
	background-color: rgb(238, 125, 165);
	border-radius: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.footer-column-item {
	padding-top: 4em;
}

.footer-heading {
	padding-bottom: 1em;
}

.main-image-slogan {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}

.explore-arrow {
	display: flex;
	justify-content: center;
	font-size: 1.75em;
}
.explore-text {
	display: flex;
	justify-content: center;
	font-size: 1.25em;
}

// #jump-to-welcome {
// }

// #jump-to-top {

// }

.back-to-top {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 2%;
	width: calc(100% - 2em);

}

.back-to-top-arrow {
	display: flex;
	justify-content: center;
	font-size: 1.75em;
}

.back-to-top-text {
	display: flex;
	justify-content: center;
}

