@import 'typography.scss';
@import 'fontawesome-all.css';

$main-color: rgb(234, 69, 143);

.logo {
	background-color: $main-color;
	// width: 10%;
	// margin-left: 2em;
	// padding: 1em;
	// border-radius: 4em;
}

// .header-nav {

// }

.announcement {
	background-color: $main-color;
}

.welcome-header {
	color: $main-color;
}

.read-more {
	background-color: $main-color;
	border-radius: 1em;
}


.news-section {
	background-color: rgb(241,127,56);

}


