
$link-colour: rgb(188,188,188);
$secondary-color: rgb(99, 49, 138);

.logo-text {
	color: white;
	text-align: center;
}

button a {
	color: white;
}

.news-text {
	color: white;
}

.news-title {
	color: $secondary-color;
}