
$link-colour: rgb(188,188,188);
$secondary-color: rgb(99, 49, 138);

.logo-text {
	color: white;
	text-align: center;
}

button a {
	color: white;
}

.news-text {
	color: white;
}

.news-title {
	color: $secondary-color;
}

.calendar-header {
	color: $secondary-color;
	padding-bottom: 1em;
}

.calendar-date {
	color: $secondary-color;
	display: inline;
}

.month {
	// color: black;
	// font-size: 0.75em;
}